<section class="section-bg-light-gray rounded p-4">
  <section class="d-flex justify-content-center align-items-center">
    <h1 class="text-center">Bibliotecarios</h1>
  </section>
  <div class="my-4">
    <div class="col-md-12">
      <form class="d-flex justify-content-center align-items-md-center">
        <input class="form-control me-2 shadow" [formControl]="dui" placeholder="Buscar miembro, introduce el DUI..." aria-label="Buscar" style="max-width: 600px;">
        <button class="btn btn-outline-primary shadow" type="submit" (click)="searchBibliotecario()">Buscar</button>
      </form>
    </div>
  </div>
  <section class="pt-4">
    <div class="d-flex justify-content-end align-items-center">
      <a class="btn btn-outline-primary my-1 shadow" (click)="openModalAgregar()">Agregar Bibliotecario</a>
    </div>
  </section>
  <section class="my-4 d-flex justify-content-end">
    <div class="col-md-4">
      <form class="d-flex justify-content-center align-items-md-center">
        <input class="form-control me-2 shadow" [formControl]="duiEditar" placeholder="Editar miembro, introduce el DUI..." aria-label="Editar" style="max-width: 600px;">
        <button class="btn btn-outline-primary shadow" type="submit" (click)="buscarByDUI()">Editar</button>
      </form>
    </div>
  </section>
  <section class="mx-4 shadow">
    @if(usuarioPage) {
      <div class="table-container mt-4">
        <table class="table table-striped">
          <thead class="">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Email</th>
              <th scope="col">Género</th>
              <th scope="col">DUI</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @for (usuario of usuarioPage.content; track usuario.id) {
              <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.persona.nombre }}</td>
                <td>{{ usuario.persona.apellido }}</td>
                <td>{{ usuario.persona.email }}</td>
                <td>{{ usuario.persona.genero.nombre }}</td>
                <td>{{ usuario.persona.dui }}</td>
                <td><a class="btn text-bg-secondary shadow" (click)="openModalVer(usuario)">Ver Info</a></td>
                <td><a class="btn text-bg-dark shadow" (click)="openModalEditar(usuario)">Editar</a></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <div class="alert alert-warning text-center" role="alert">
        No se encontraron resultados
      </div>
    }
  </section>

  @if (pagina.totalPages > 1) {
    <app-pagination [pagina]="pagina" (selectPage)="nextPage($event)"></app-pagination>
  }
</section>

<app-ver-bibliotecario-modal [usuario]="selectedUsuario"></app-ver-bibliotecario-modal>
<app-agregar-editar-bibliotecario-modal [usuario]="selectedUsuario"></app-agregar-editar-bibliotecario-modal>
