<div class="modal fade" id="recuperarPasswordModal" tabindex="-1" aria-labelledby="recuperarPasswordModalLabel" aria-hidden="true" (shown.bs.modal)="onModalShown()">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="recuperarPasswordModalLabel">Recuperar Contraseña</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="recuperarPasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('email')}">
            <div class="invalid-feedback">
              @for (validation of recuperarPasswordFormValidationMessages.email; track $index) {
                @if (recuperarPasswordForm.get('email')?.hasError(validation.type) && (recuperarPasswordForm.get('email')?.dirty || recuperarPasswordForm.get('email')?.touched)) {
                  <span>{{ validation.message }}</span>
                }
              }
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="recuperarPasswordForm.invalid">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
