<section  class="bg-light-subtle">
  <section class="hero d-flex align-items-center">
      <div class="hero-content w-100 h-100">
        <h1>Bienvenidos a la Biblioteca Central de Centroamérica</h1>
        <p>Descubre un mundo de conocimiento y recursos a tu alcance.</p>
        <a [routerLink]="'/material-educativo'" class="btn btn-primary btn-lg">Ver Catálogo de Libros</a>
      </div>
  </section>

  <!-- Sección de Características -->
  <section id="caracteristicas" class="container my-5">
    <h2 class="mb-4">Características de la Biblioteca</h2>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Amplia Colección de Libros</h5>
            <p class="card-text">Nuestra biblioteca cuenta con una vasta colección de libros en diversas áreas del
              conocimiento.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Acceso a Recursos Digitales</h5>
            <p class="card-text">Disponemos de una gran variedad de recursos digitales accesibles desde cualquier lugar.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Ambiente de Estudio Cómodo</h5>
            <p class="card-text">Ofrecemos espacios de estudio tranquilos y cómodos para todos nuestros usuarios.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de Datos Personales sobre la Biblioteca -->
  <section id="datos-personales" class="container my-5">
    <h2 class="mb-4">Sobre la Biblioteca</h2>
    <p>
      La Biblioteca Central de Centroamérica fue fundada en el año [año de fundación] y desde entonces ha sido un pilar
      fundamental en la promoción del conocimiento y la cultura en la región. Contamos con un equipo dedicado de
      bibliotecarios y personal de apoyo que están comprometidos con ofrecer el mejor servicio a nuestros usuarios.
    </p>
    <p>
      Nuestro objetivo es proporcionar acceso a la información y recursos educativos de alta calidad, apoyar la
      investigación
      académica y fomentar el amor por la lectura y el aprendizaje en todas las edades. Nos esforzamos por crear un
      ambiente
      acogedor y estimulante para todos.
    </p>
  </section>
</section>
